/* style.css */
body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f4f4f4;
}
header {
  width: 100%;
  background-color: #333;
  color: white;
  padding: 10px 0;
}
header nav {
  display: flex;
  justify-content: center;
}
header nav a {
  color: white;
  text-decoration: none;
  margin: 0 15px;
}
.container {
  max-width: 800px;
  margin: 20px;
  text-align: center;
}
.post {
  background-color: white;
  padding: 20px;
  margin-bottom: 20px;
}
img{
 width: auto;
 height: 250px;
}